<tr>
    <td>
        <input class="rounded-md border-gray-300 focus:border-pink-300 shadow-sm focus:ring focus:ring-pink-300 focus:ring-opacity-50 w-full" type="number" placeholder="0" min="0" max="9999" name="steps[{{id}}][number]">
    </td>
    <td>
        <input class="rounded-md border-gray-300 focus:border-pink-300 shadow-sm focus:ring focus:ring-pink-300 focus:ring-opacity-50 w-full" type="text" placeholder="..." name="steps[{{id}}][instruction]">
    </td>
    <td>
        <button data-recipe-delete="row" type="button" class="h-full w-full p-1">
            <svg class="h-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </td>

</tr>